[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
gpiozero = "*"
werkzeug = "*"
click = "*"

[dev-packages]
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.7"
